/.idea
.idea
mobile/keystore/
build/
*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/
build-cache/
.gradle/
/google-services.json
/tabletApp/google-services.json
